/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 28px;
  font-weight: bold;
  background: linear-gradient(90deg, black, red, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 32px;
}

h p{font-size: 16px;}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 60px 20px;
  max-width: 700px;
}

.hero h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: white;
}

.hero p {
  opacity: 0.8;
}

.form-section {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.container {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  background: linear-gradient(90deg, red, gold);
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255, 215, 0, 0.5);
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  animation: fadeIn 1s ease-in;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 14px;
  opacity: 0.6;
  margin-top: 60px;
  background: #020617;
  padding: 20px;
}
